nb-card {
    transform: translate3d(0, 0, 0);
  }
  
  .box {
    display: flex;
    color: white;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    h3 {
      color: white;
      font-size: 32px;
      font-weight: 800;
      margin-bottom: 0;
    }
    p {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
  
  .btn-actions {
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  
    svg {
      width: 30px;
    }
  
    i {
      font-size: 35px;
    }
  }
  
  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 95%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }
  