<!-- <div class="row">
  <nb-card>
    <nb-card-body>Hello from ngx-admin sandbox project.</nb-card-body>
  </nb-card>
</div> -->

<div class="container">
  <div class="row">
    <h1>Lista de Solicitudes</h1>
  </div>
  <div class="row mt-4">
    <h5>Ticket de Solicitudes</h5>
  </div>
  <div class="row">
    <div class="col-md-3 pl-0">
      <div class="box one">
        <h3>1.784</h3>
        <p>Total de Tickets</p>
      </div>
    </div>
    <div class="col-md-3 pl-0">
      <div class="box two">
        <h3>1.291</h3>
        <p>Cerrados</p>
      </div>
    </div>
    <div class="col-md-3 pl-0">
      <div class="box three">
        <h3>138</h3>
        <p>En Progreso</p>
      </div>
    </div>
    <div class="col-md-3 pl-0">
      <div class="box four">
        <h3>43</h3>
        <p>Fallidos</p>
      </div>
    </div>
  </div>
</div>

<nb-card-body>
  <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
  </ng2-smart-table>
</nb-card-body>

