nb-card {
    transform: translate3d(0, 0, 0);
  }

.box{
    display: flex;
    color: white;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    h3{
        color: white;
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 0;
    }
    p{
        font-size: 18px;
        margin-bottom: 0;
    }
}

.one{
    background: #0090da;
}
.two{
    background: #38BEA6;
}
.three{
    background: #FFBB34;
}
.four{
    background: #F82C51;
}
