<a ng-class="classes" ng-click="OauthButtons.loginOauth('facebook')" class="btn btn-social btn-facebook">
  <i class="fa fa-facebook"></i>
  Conectar con Facebook
</a>
<a ng-class="classes" ng-click="OauthButtons.loginOauth('google')" class="btn btn-social btn-google">
  <i class="fa fa-google-plus"></i>
  Conectar con Google+
</a>
<a ng-class="classes" ng-click="OauthButtons.loginOauth('twitter')" class="btn btn-social btn-twitter">
  <i class="fa fa-twitter"></i>
  Conectar con Twitter
</a>
