

footer {
background-color: #3c3d47;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
p {
    color: whitesmoke;
}
}

.inv-copy {
 // padding: 60px 0;
//    padding: 0px 80px;
  position: relative; }
  .inv-copy:after {
    content: '';
    display: table;
    clear: both; }
  .inv-copy span {
    color: grey;
    float: left;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 600; }
    .inv-copy span a {
      font-size: 14px;
      line-height: 24px;
      color: grey;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .inv-copy span a:hover {
      color: white; }
  .inv-copy li {
    margin: 0 1px;
    display: inline-block; }
    .inv-copy li:last-child {
      margin-right: 0; }
  .inv-copy .soc-net {
  //  float: right; 
}


.inv-copy .inv-soc {
 // padding-top: 5px; 
}
  .inv-copy .inv-soc a {
    display: inline-block;
    margin: 0 7px; }
    .inv-copy .inv-soc a:first-child {
      margin-left: 0; }
    .inv-copy .inv-soc a:last-child {
      margin-right: 0; }
  .inv-copy .inv-soc a {
    color: #b3b3b3;
    font-family: FontAwesome;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px; }