<div class="container">
    <div class="row">
        <h1>Solicitudes de planes asignadas:</h1>
        <div class="col-md-12">
            <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-cellNav>
            </div>
        </div>
    </div>
</div>