<div class="row">
    <div class="col-xs-12">
        <h3>Solicitud Recibida:</h3>
        <dl class="dl-horizontal">
            <dt>Nombre</dt>
            <dd>{{$ctrl.entityfila.nombrepersona}}</dd>
            <dt>Rut</dt>
            <dd>{{$ctrl.entityfila.rutpersona}}</dd>
            <dt>Correo</dt>
            <dd>{{$ctrl.entityfila.correopersona}}</dd>
            <dt>Teléfono</dt>
            <dd>{{$ctrl.entityfila.telefonopersona}}</dd>
            <dt>¿Ingresó datos?</dt>
            <dd>{{$ctrl.entityfila.datospersona.ingresodatos}}</dd>
            <dt>Región</dt>
            <dd>
                <strong>{{$ctrl.entityfila.region.value.abv}}</strong> {{$ctrl.entityfila.region.value.nombre}}
                <strong>{{$ctrl.entityfila.region.abv}}</strong> {{$ctrl.entityfila.region.nombre}}</dd>
            <dt>Codigo del Plan</dt>
            <dd>{{$ctrl.entityfila.nombreplan}}
                <a target="_blank" ng-href="https://queplan.cl/plan/{{$ctrl.entityfila.nombreplan}}">Ver en QuePlan.Cl</a>
            </dd>
            <dt>Precio Cálculado (Importante: Confirmar)</dt>
            <dd>{{$ctrl.entityfila.precio_solicitado}}</dd>
            <dt>Fecha y hora</dt>
            <dd>{{$ctrl.entityfila.fecha | date:'medium' : '-0300'}}</dd>
            <dt>Isapre</dt>
            <dd>{{$ctrl.entityfila.codigoisapre}}</dd>
            <dt>¿Misma Isapre?</dt>
            <dd>
                {{$ctrl.entityfila.es_de_la_misma_isapre}}
            </dd>
        </dl>
        <span ng-if="$ctrl.entityfila.privilegiosUsuario === 'admin'">
            <h3>Post solicitud:</h3>
            <dl class="dl-horizontal">
                <dt>Tipo</dt>
                <dd>{{$ctrl.entityfila.tipo}}</dd>
                <dt>¿Email misma Isapre?</dt>
                <dd>
                    <strong>{{$ctrl.entityfila.email_misma_isapre}}</strong> (true en caso de email automático)</dd>
                <dt>Aseguradora Actual</dt>
                <dd>{{$ctrl.entityfila.aseguradora_actual}}</dd>
            </dl>
        </span>

        <h3>Cotizante principal:</h3>
        <dl class="dl-horizontal">

            <dt>Sexo:</dt>
            <dd>{{$ctrl.entityfila.datospersona.cotizante[0].sexo}}</dd>
            <dt>Edad:</dt>
            <dd>{{$ctrl.entityfila.datospersona.cotizante[0].edad}}</dd>
            <dt>Ingreso:</dt>
            <dd>{{$ctrl.entityfila.datospersona.cotizante[0].ingreso | currency:"$":0}}</dd>
            <br>
        </dl>
        <div ng-if="$ctrl.entityfila.datospersona.cotizante[1]">
            <h3>Segundo cotizante (Pareja ingresada)</h3>
            <dl class="dl-horizontal">
                <dt>Sexo:</dt>
                <dd>{{$ctrl.entityfila.datospersona.cotizante[1].sexo}}</dd>
                <dt>Edad:</dt>
                <dd>{{$ctrl.entityfila.datospersona.cotizante[1].edad}}</dd>
                <dt>Ingreso:</dt>
                <dd>{{$ctrl.entityfila.datospersona.cotizante[1].ingreso | currency:"$":0}}</dd>
            </dl>
        </div>
        <div ng-repeat="carga in $ctrl.entityfila.datospersona.cargas">
            <h3>Carga Número {{$index + 1}}</h3>
            <dl class="dl-horizontal">
                <dt>Sexo:</dt>
                <dd>{{carga.sexo}}</dd>
                <dt>Edad:</dt>
                <dd>{{carga.edad}}</dd>
            </dl>
        </div>
    </div>
</div>