<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Solicitud</h3>
</div>
<div class="modal-body">
    <div class="container">

        <!--        <div class="row">
            <form>
                Estado de la Solicitud: {{entityfila.estado_solicitud}}
                <br>
                Informar Cambio en la Solicitud:


                <div class="btn-group">
                    <label class="btn btn-primary btn-block" ng-model="radioModel" uib-btn-radio="true">Solicitud Cerrada</label>
                    <label class="btn btn-primary  btn-block" ng-model="radioModel" uib-btn-radio="false">Devolución de propspecto</label>
                </div>

                <pre>{{radioModel || 'null'}}</pre>

                <span ng-if="!radioModel">
                <label for="mySelect">Razón:</label>
                <select name="mySelect" id="mySelect" ng-options="option.name for option in razones.availableOptions track by option.id" ng-model="razones.selectedOption"></select>
                </span>


                <button type="submit" class="btn btn-default">Enviar</button>
                <p>Solicitud informada</p>

            </form>

            Describe qué pasó:



        </div>-->
        <verunasolicitud entityfila="entityfila"></verunasolicitud>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Cerrar</button>
</div>