@import '../../../@theme/styles/styles.scss';

.detail-user{
    p{
        margin-bottom: 8px;
        strong{
            color: map-get($theme-colors, "third");
        }
    }
}

.title-solicitud{
    color: #2a2a2a;
}

.state {
  width: 32%;
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
}

.agent{
    img{
        max-width: 35%;
    }
}

.product-detail{
    p{
        margin-bottom: 8px;
        strong{
            color: map-get($theme-colors, "third");
        }
    }
}