<div class="d-flex justify-content-between align-items-center">
  <div class="title-solicitud">
    <h1 class="mb-0">Detalle de la solicitud</h1>
    <h4>Desde QuePlan.cl</h4>
  </div>
  <div class="text-white state" [ngClass]="getClass(solicitud?.estado_solicitud)">
    <p class="mb-0">Estado Solicitud</p>
    <p class="mb-0"><strong *ngIf="solicitud?.estado_solicitud" [innerText]="getStatus(solicitud?.estado_solicitud)">Cerrado</strong></p>
  </div>
</div>


<div class="row mt-3">
  <div class="col-md-8">
    <nb-card class="detail-user">
      <nb-card-body>
        <div class="row mt-2">
          <div class="col-md-6">
            <p><strong>Nombre:</strong> {{solicitud.nombre_persona}}</p>
            <p><strong>Rut:</strong> {{solicitud.rut_persona}}</p>
            <p><strong>Correo Electrónico:</strong> {{solicitud.correo_persona}}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Teléfono Fijo:</strong> {{solicitud.telefono_persona}}</p>
            <p><strong>Teléfono Móvil:</strong> {{solicitud.rut_persona}}</p>
            <p><strong>Región:</strong> {{solicitud.correo_persona}}</p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card class="product-detail">
      <nb-card-body>
        <div class="row mt-2">
          <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                  <h4 class="mb-0">Detalle del Producto</h4>
                </div>
                <div class="col-md-6">
                    <img src="http://queplan.cl/assets/images/aseguradoras/reddesaluduc.png" alt="" class="w-50 float-right">
                  </div>

              </div>
              <div class="row mt-4">
                <div class="col-md-6">
                  <p><strong>Código:</strong> {{solicitud.array_seguro.id_seguro}}</p>
                  <p><strong>Nombre:</strong> {{solicitud.array_seguro.nombre_seguro}}</p>
                  <p><strong>Categoría:</strong> {{solicitud.array_seguro.categoria}}</p>
                  <p><strong>Subcategoría:</strong> {{solicitud.array_seguro.subcategoria}}</p>
                  <p><strong>Región:</strong> {{solicitud.array_seguro.region}}</p>
                </div>
                <div class="col-md-6">
                  <p><strong>Nombre Institución:</strong> {{solicitud.telefono_persona}}</p>
                  <p><strong>Precio Seguro:</strong> {{solicitud.precio_seguro}}</p>
                  <p><strong>Precio Solicitado:</strong> {{solicitud.array_seguro.tope_moneda}} {{solicitud.array_seguro.precio_solicitado}}</p>
                  <p><strong>Fecha:</strong> {{solicitud.fecha}}</p>
                  <p><strong>IP:</strong> {{solicitud.ip}}</p>
                </div>
              </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4 agent">
    <nb-card>
      <nb-card-body>
        <div class="text-center">
          <h5>Ejecutivo Asignado</h5>
          <img src="../../../../assets/images/user.png" alt="" class="rounded-circle ">
          <h5 class="mt-2 mb-1">Matías Kerr</h5>
          <p>matias@queplan.cl</p>
          <div class="d-flex justify-content-around align-content-center">
            <div>
              <h3 class="mb-0"><strong>83</strong></h3>
              <p>Total</p>
            </div>
            <div>
              <h3 class="mb-0"><strong>54</strong></h3>
              <p>Cerrados</p>
            </div>
            <div>
              <h3 class="mb-0"><strong>12</strong></h3>
              <p>Pendientes</p>
            </div>
            <div>
              <h3 class="mb-0"><strong>7</strong></h3>
              <p>Fallidos</p>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <div class="container-fluid">
          <div class="row mt-2">
            <p><strong>Asignado por: </strong>Juan Perez</p>
            <p><strong>Razón de Fallo: </strong>Estaba muito loco</p>
            <p><strong>Notas Administrador: </strong>Este ejecutivo sin duda cerrará esta venta.</p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>