<h1>Saldos y Movimientos</h1>

<div class="container-fluid">
  <div class="row mt-4 justify-content-sm-between align-items-center">
    <h2>Lista de Saldos</h2>
    <h4 class="bg-primary p-3 text-white rounded">Suma de Saldos: <strong>{{ totalSaldo | currency:'CLP' }}</strong></h4>
  </div>
</div>

<nb-card [nbSpinner]="socios.loading" nbSpinnerStatus="success" nbSpinnerMessage="Cargando...">
  <nb-card-body class="px-0">
    <ngx-datatable
      #table
      class="material striped"
      [rows]="socios.data"
      [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [reorderable]="reorderable"
      [limit]="20"
      [scrollbarH]="true">

      <ngx-datatable-column name="Nombre" prop="nombres"></ngx-datatable-column>
      <ngx-datatable-column name="ID de Socio" prop="id_de_usuario"></ngx-datatable-column>
      <ngx-datatable-column name="Saldo" prop="saldo">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value | currency:'CLP' }}
       </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>
  </nb-card-body>
</nb-card>

<h2 class="mt-5 mb-2 text-center">Añadir y Descontar Saldo</h2>
<div class="row justify-content-md-center">
  <div class="col-md-8">
    <nb-card size="lg">
      <nb-tabset>
        <nb-tab tabTitle="Añadir Saldo"
                [nbSpinner]="formAddBalanceLoading"
                nbSpinnerStatus="success"
                nbSpinnerMessage="Cargando...">
          <form novalidate [formGroup]="formAddBalance" (ngSubmit)="addBalance()">
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-6">
                  <label>Id de Socio</label>
                  <input nbInput type="text" placeholder="Ingresa el id de socio" class="form-control" formControlName="id_socio" />
                </div>
                <div class="col-md-6">
                  <label>Monto</label>
                  <input nbInput type="number" min="1" placeholder="Ingresa el monto" class="form-control" formControlName="monto" />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Forma de pago</label>
                    <select class="form-control" placeholder="Forma de pago" formControlName="tipo_de_movimiento">
                      <option value="1">Depósito Cuenta Corriente</option>
                      <option value="2">Otros Depósitos</option>
                      <option value="11">Bono de Ingreso</option>
                      <option value="12">Otros Bonos</option>
                      <option value="13">Reverso de Cobro</option>
                      <option value="99">Otros Ingresos</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Descripción</label>
                    <input nbInput type="text" placeholder="Ingresa una descripción" class="form-control" formControlName="descripcion" />
                  </div>
                </div>
              </div>
              <div class="text-center mt-4 mb-4">
                <button nbButton status="success" type="submit">Añadir Saldo</button>
              </div>
            </div>
          </form>
        </nb-tab>
        <nb-tab tabTitle="Descontar Saldo"
                [nbSpinner]="formReduceBalanceLoading"
                nbSpinnerStatus="danger"
                nbSpinnerMessage="Cargando...">
          <form novalidate [formGroup]="formReduceBalance" (ngSubmit)="reduceBalance()">
            <div class="container mt-4">
              <h5>* Hay que asociar el Id de la solicitud</h5>
              <div class="row">
                <div class="col-md-6">
                  <label>Id de Socio</label>
                  <input nbInput type="text" placeholder="Ingresa el id de socio" class="form-control" formControlName="id_socio" />
                </div>
                <div class="col-md-6">
                  <label>Monto</label>
                  <input nbInput type="text" type="number" min="1" placeholder="Ingresa el monto" class="form-control" formControlName="monto" />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Forma de retiro</label>
                    <select class="form-control" placeholder="Forma de pago" class="form-control" formControlName="tipo_de_movimiento">
                      <option value="101">Cobro por prospecto cerrado</option>
                      <option value="102">Retiro de dinero</option>
                      <option value="103">Cobro por envío</option>
                      <option value="199">Otros Cobros</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Id de Solicitud</label>
                  <input nbInput type="text" placeholder="Id de Solicitud" class="form-control" formControlName="id_de_solicitud"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Descripción</label>
                    <textarea nbInput rows="5" placeholder="Ingresa una descripción" class="form-control" formControlName="descripcion"></textarea>
                  </div>
                </div>
              </div>
              <div class="text-center mt-4 mb-4">
                <button nbButton status="danger" type="submit">Descontar Saldo</button>
              </div>
            </div>
          </form>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>

<h2 class="mt-5">Últimos Movimientos</h2>
<nb-card [nbSpinner]="movimientos.loading" nbSpinnerStatus="success" nbSpinnerMessage="Cargando...">
  <nb-card-body class="px-0">
    <ngx-datatable
      class="material striped"
      [rows]="movimientos.data"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [reorderable]="reorderable"
      [limit]="20"
      [scrollbarH]="true">

      <ngx-datatable-column name="Id" prop="_id"></ngx-datatable-column>
      <ngx-datatable-column name="ID de Socio" prop="id_socio"></ngx-datatable-column>
      <ngx-datatable-column name="Monto" prop="monto">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{ value | currency:'CLP' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tipo de Movimiento" prop="tipo_de_movimiento"></ngx-datatable-column>
      <ngx-datatable-column name="Descripción" prop="descripcion"></ngx-datatable-column>
      <ngx-datatable-column name="Id de Solicitud" prop="id_de_solicitud"></ngx-datatable-column>
      <ngx-datatable-column name="Fecha de Movimiento" prop="fecha_movimiento">
        <ng-template ngx-datatable-cell-template let-value="value">
          <span [nbTooltip]="value | date:'fullTime'">{{ value | date }}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>
