<header class="hero-unit" id="banner">
    <div class="container">
        <h1>Hola {{$ctrl.getCurrentUser().name}}!</h1>
        <p class="lead"> Plataforma de administración QuePlan.Cl</p>
        <!--    <img src="assets/images/yeoman.png" alt="I'm Yeoman">-->
    </div>
</header>

<div class="container">
<!--     <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Avisos:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-12 col-lg-12 col-sm-12" ng-repeat="thing in $ctrl.awesomeThings">
                <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-12">
        <form class="thing-form">
            <label>Agrega un nuevo aviso acá:</label>
            <p class="input-group">
                <input type="text" class="form-control" placeholder="Escribe algo..." ng-model="$ctrl.newThing">
                <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Agregar nuevo</button>
      </span>
            </p>
        </form>
    </div> -->
</div>