<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>ID de Socio</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in datossocios">
                        <td>{{x.nombres}}</td>
                        <td>{{x._id}}</td>
                        <td>{{x.saldo| currency:"$":0}}</td>
                    </tr>
                    <tr class="active">
                        <td></td>
                        <td><strong >Suma de saldos:</strong></td>
                        <td><kbd> {{sumadesaldos| currency:"$":0}}</kbd></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
<div class="row">
    <div class="col-md-12">
        <h2>Añadir Saldo</h2>
        <form class="form-inline">
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Id de Socio" ng-model="anadir.id_socio" min="0">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="monto" ng-model="anadir.monto" min="0">
            </div>
            <div class="form-group">
                <select class="form-control" ng-options="option.name for option in opcionessumar.opcionesdisponibles track by option.id" ng-model="opcionessumar.opcionelegida"></select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="descripción" ng-model="anadir.descripcion">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="sumarDinero()">Añadir</button>
        </form>
        <p>Mensaje de respuesta:</p> {{errorensumar}} {{mensajesumar}}
    </div>
    <div class="col-md-12">
        <h2>Descontar Saldo</h2>
        <h3>Hay que asociar el Id de la solicitud</h3>
        <form class="form-inline">
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Id de Socio" ng-model="descontar.id_socio" min="0">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="monto" ng-model="descontar.monto" min="0">
            </div>
            <div class="form-group">
                <select class="form-control" ng-options="option.name for option in opcionesdescontar.opcionesdisponibles track by option.id" ng-model="opcionesdescontar.opcionelegida"></select>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Id de solicitud" ng-model="descontar.id_de_solicitud" min="0">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="descripción" ng-model="descontar.descripcion">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="descontarDinero()">Descontar</button>
        </form>
        <p>Mensaje de respuesta:</p> {{errorendescontar}} {{mensajedescontar}}
    </div>
</div>
    
<div class="row">
    <h1>Últimos movimientos</h1>
    <div class="col-md-12">
        <div class="gridventanasaldos" ui-grid="ultimosmovimientos" ui-grid-resize-columns ui-grid-cellNav>
        </div>
    </div>
</div>
    </div>