<div class="container-fluid">
    <!--    <div class="col-md-12">
        <h1>Planes</h1>
        <table class="table table-striped">
            <thead>
                <th>Nombre</th>
                <th>Rut</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Plan</th>
                <th>Fecha</th>
                <th>Datos ingresados</th>
            </thead>
            <tbody>
                <tr ng-repeat="solic in solictarplans">
                    <td>{{solic.nombrepersona}}</td>
                    <td>{{solic.rutpersona}}</td>
                    <td>{{solic.correopersona}}</td>
                    <td>{{solic.telefonopersona}}</td>
                    <td>{{solic.nombreplan}}</td>
                    <td>{{solic.fecha}}</td>
                    <td>{{solic.datospersona}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->
    <div class="row">
        <div class="col-sm-8 col-md-push-2">
            <h2>Enviar email de asignación</h2>
            <form class="form-inline">
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Id de Solicitud" ng-model="emailasign.id_solicitud" min="0">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Id de Socio" ng-model="emailasign.id_socio" min="0">
                </div>
                <button class="btn btn-primary" ng-click="emailalCliente()">Enviar Email a Cliente</button>
                <button class="btn btn-primary" ng-click="emailalSocio()">Enviar Email a Socio</button>
                <button class="btn btn-danger" ng-click="emailAsignacion()">Enviar 2 Emails</button>
                <div class="form-group text-right">
                    <button ng-class="claseAsignacionAutomatica" ng-click="activarAsignacionAutomatica()">Asignación automática</button>
                </div>
            </form>
            <div>
                <div class="panel panel-default">
                    <div class="panel-body">Las respuestas aparecerán en 2 cajas, verificar que estén en verde y tengan código 250. Errores en rojo</div>
                </div>
                <div>
                    <div class="alert alert-success" ng-if="mensajeasginaremail">
                        <strong>OK Cliente</strong> {{mensajeasginaremail}}
                    </div>

                    <div class="alert alert-danger" ng-if="errorasginaremail">
                        <strong>ERROR Cliente. Nota: Enviar email de cliente nuevamente</strong> {{errorasginaremail}}
                    </div>

                    <div class="alert alert-success" ng-if="sociomensajeasginaremail">
                        <strong>OK Socio</strong> {{sociomensajeasginaremail}}
                    </div>

                    <div class="alert alert-danger" ng-if="socioerrorasginaremail">
                        <strong>ERROR Socio. NOTA: Solicitud no ha cambiado de estado a Asignada y tampoco se ha asignado socio</strong>
                        {{socioerrorasginaremail}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Tabla de Solicitudes</h2>
        <div class="col-md-12">
            <div class="myGrid" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-move-columns></div>
        </div>
    </div>
</div>