<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Cobra y cierra solicitudes</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <br>
            <div class="alert alert-danger" ng-if="entityfila.asignado_a === null" role="alert">Sin ejecutivo asignado. Asignar solicitud antes de cobrar</div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Ejecutivo Asignado:</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Isapre</th>
                            <th>Comisión</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{datosSocio._id}}</td>
                            <td>{{datosSocio.nombres}}</td>
                            <td>{{datosSocio.apellidos}}</td>
                            <td>{{datosSocio.isapre}}</td>
                            <td>{{datosSocio.tarifa}} %</td>
                            <td>
                                <b>{{datosSocio.saldo | currency:"$":0}}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="alert alert-warning" ng-if="!UF.dia">
                <strong>Info!</strong> LA UF NO CORRESPONDE AL DÍA DE HOY. ERROR OBTENER LA UF DE HOY!
            </div>
            <p>Día de la UF (Año-mes-día): <mark>{{UF.dia}}</mark></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <label for="uf">UF del día:</label>
            <div class="input-group">
                <input type="number" class="form-control" id="uf" ng-model="UF.valor">
            </div>
        </div>
        <div class="col-xs-3">
            <label for="precio">Solicitud:</label>
            <div class="input-group">
                <input type="number" class="form-control" id="precio" ng-model="precio">
            </div>
        </div>
        <div class="col-xs-3">
            <label for="comision">Comisión:</label>
            <div class="input-group">
                <input type="number" class="form-control" id="comision" ng-model="comision">
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-xs-3">
            <label for="calcular"></label>
            <div class="input-group">
                <button type="submit" id="calcular" class="btn btn-default" ng-click="calcularaCobrar()">Re Calcular</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <br>
            <div class="alert alert-danger" ng-if="entityfila.estado_solicitud === 3" role="alert">La solicitud ya fue cerrada. Botón bloqueado</div>
        </div>
        <div class="col-xs-3">
            <label for="calculado">Precio a descontar:</label>
            <div class="input-group has-success">
                <span class="input-group-addon" id="calculado">$</span>
                <input type="number" class="form-control" placeholder="Precio a descontar..." aria-describedby="basic-addon1" ng-model="aCobrar">
            </div>
        </div>
        <div class="col-xs-5">
            <label for="calculado">Descripción movimiento (opcional):</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Comentarios del Movimiento" aria-describedby="basic-addon1" ng-model="descripcion">
            </div>
        </div>
        <div class="col-xs-4">
            <label>Ejecutar cierre:</label>
            <div class="input-group">
                <button ng-disabled="entityfila.estado_solicitud === 3 || entityfila.asignado_a === null" class="btn btn-success" type="button"
                    ng-click="cierreSolicitud()">Descontar y Cerrar</button>
            </div>
        </div>
    </div>
    <verunasolicitud entityfila="entityfila"></verunasolicitud>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cerrarModal()">Cerrar Modal (Sin ejecutar descuento)</button>
</div>