<div class="container">
    <h2>Vista de solicitudes, Administrador</h2>
    <button type="button" id="addData" class="btn btn-success" ng-click="addData()">Nueva fila de Contacto</button>
    <div class="myGrid" ui-grid="gridContacto" ui-grid-resize-columns  ui-grid-cellNav ui-grid-move-columns ui-grid-edit ui-grid-row-edit></div>
</div>
