<h1>Lista de Solicitudes</h1>
<h5>Ticket de Solicitudes</h5>
<div class="row mb-5">
  <div class="col-md-3">
    <div class="box bg-total">
      <h3>1.784</h3>
      <p>Total de Tickets</p>
    </div>
  </div>
  <div class="col-md-3 pl-0">
    <div class="box bg-close">
      <h3>1.291</h3>
      <p>Cerrados</p>
    </div>
  </div>
  <div class="col-md-3 pl-0">
    <div class="box bg-progreso">
      <h3>138</h3>
      <p>En Progreso</p>
    </div>
  </div>
  <div class="col-md-3 pl-0">
    <div class="box bg-fallido">
      <h3>43</h3>
      <p>Fallidos</p>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-4">
    <input
      nbInput
      fullWidth
      type="text"
      placeholder="Type to filter the name column..."
      (keyup)="filter($event)"
    />
  </div>
</div>

<ngx-datatable
  #table
  class="material striped"
  [rows]="rows"
  [columns]="columns"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [reorderable]="reorderable"
  [limit]="20"
  [scrollbarH]="true">

  <ngx-datatable-column name="Acciones">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row"
     let-rowHeight="rowHeight">
     <div class="btn-actions">
       <a target="_blank" [routerLink]="['/pages', 'solicitud', row.id_solicitud]">
         <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         	 viewBox="0 0 59.2 59.2" style="enable-background:new 0 0 59.2 59.2;" xml:space="preserve">
         <g>
         	<path d="M51.062,21.561c-11.889-11.889-31.232-11.889-43.121,0L0,29.501l8.138,8.138c5.944,5.944,13.752,8.917,21.561,8.917
         		s15.616-2.972,21.561-8.917l7.941-7.941L51.062,21.561z M49.845,36.225c-11.109,11.108-29.184,11.108-40.293,0l-6.724-6.724
         		l6.527-6.527c11.109-11.108,29.184-11.108,40.293,0l6.724,6.724L49.845,36.225z"/>
         	<path d="M28.572,21.57c-3.86,0-7,3.14-7,7c0,0.552,0.448,1,1,1s1-0.448,1-1c0-2.757,2.243-5,5-5c0.552,0,1-0.448,1-1
         		S29.125,21.57,28.572,21.57z"/>
         	<path d="M29.572,16.57c-7.168,0-13,5.832-13,13s5.832,13,13,13s13-5.832,13-13S36.741,16.57,29.572,16.57z M29.572,40.57
         		c-6.065,0-11-4.935-11-11s4.935-11,11-11s11,4.935,11,11S35.638,40.57,29.572,40.57z"/>
         </g>
         </svg>
       </a>
       <i class="icons nb-checkmark"></i>
     </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column  name="Estado Solicitud" prop="estado_solicitud" editable="false" headerClass="is-gender">
      <ng-template ngx-datatable-cell-template let-value="value">
        <span class="badge" [ngClass]="getClass(value)" [innerText]="getStatus(value)"></span>
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="ID" prop="id_solicitud" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Nombre Seguro" prop="array_seguro.nombre_seguro"></ngx-datatable-column>
  <ngx-datatable-column name="Institución" prop="array_seguro.abv_institucion" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Precio Solicitado" prop="precio_solicitado" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Asignado a" prop="asignado_a" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Estado Solicitud" prop="estado_solicitud" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Razón Fallo" prop="razon_fallo" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Nombre Persona" prop="nombre_persona" editable="false"></ngx-datatable-column>
  <ngx-datatable-column name="Fecha" prop="fecha" editable="false"></ngx-datatable-column>
</ngx-datatable>
