<div class="container">
  <div class="row">
    <h1>Contactos</h1>
  </div>
  <div class="row mt-4">
    <h5>Lista de Contactos</h5>
  </div>
</div>


<ngx-datatable
  #table
  class="material striped"
  [rows]="rows"
  [columns]="columns"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [reorderable]="reorderable"
  [limit]="20"
  [scrollbarH]="true">
</ngx-datatable>