<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Saldo vigente:
             <kbd> {{misaldo| currency:"$":0}}</kbd> </h1>
        </div>
    </div>
    <div class="row">
    
    <div class="col-md-12">
        <h1>Últimos movimientos</h1>
        <div class="gridventanasaldos" ui-grid="mismovimientos" ui-grid-resize-columns ui-grid-cellNav>
        </div>
    </div>
    </div>
</div>