<div class="container">
  <p>Api restringida a solo admin.</p>
  <p>Para agregar a un usuario al sistema como socio hay que linkearlo con el vendedor respectivo.</p>
  <p>Instrucción: Anotar el id del usuario y registrarlo en la pestaña "Admin Socios" como id del usuario</p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span><br>
            <strong>ID del usuario: {{user._id}}</strong><br>
            <span class="text-muted">Rol: {{user.profile.role}} | {{user.role}} | {{user.token.role}}</span><br>
	    </div>
<!--        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>-->
    </li>
  </ul>
</div>
