<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Cambiar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Socios QuePlan.cl</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.usuario().role === 'cb' || $ctrl.usuario().role === 'consalud'" ui-sref-active="active"><a ui-sref="sociosCB">Socios Registrados</a></li>
        <li ng-show="$ctrl.usuario().role === 'cb' || $ctrl.usuario().role === 'consalud'" ui-sref-active="active"><a ui-sref="solicitudesCB" style="text-transform: capitalize;"><b>{{$ctrl.usuario().role}}</b> Solicitudes</a></li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Registro de Usuarios</a></li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="adminsocios">Socios</a></li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="adminsolicitudes">Solicitudes</a></li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admincontactos">Contactos</a></li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="adminsaldosymovimientos">Saldos y Movimientos</a></li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="missolicitudes">Mis Solicitudes</a></li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="saldosymovimientos">Saldo y Movimientos</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Registrar socio</a></li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Entrar</a></li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hola {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Salir</a></li>
      </ul>
    </div>
  </div>
</div>
