<button type="button" id="addData" class="btn btn-success" ng-click="addData()">Nueva fila de socio</button>
<div class="myGrid" ui-grid="gridsocios" ui-grid-resize-columns ui-grid-edit ui-grid-row-edit ui-grid-cellNav></div>
